name: image_color_scheme_example
description: Example app demonstrating image_color_scheme package
publish_to: 'none'

version: 1.0.0

environment:
  sdk: ^3.10.4
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter
  image_color_scheme:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
