name: image_color_scheme
description: A Flutter widget that dynamically extracts a ColorScheme from images and rebuilds when the scheme is ready.
version: 1.0.5
repository: https://github.com/kxtxr/image_color_scheme
issue_tracker: https://github.com/kxtxr/image_color_scheme/issues

environment:
  sdk: ^3.4.3
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
